*{
    background-color: black;
}

*{
    font-family: 'Share Tech Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

#color {
    color: #BBB;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.2em;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
}